# Domaci zadatak 1 - Određivanje stepena gojaznosti

<b>Studenti: Vladimir Nešić - 1235, Vladan Milojević - 1248</b>

Cilj ovog domaćeg zadatka je određivanje stepena gojaznosti kod osoba na osnovu njihovih navika u ishrani i fizičkih aktivnosti.

## Opis podataka

Skup podataka koji je korišćen je preuzet sa [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/datasets/Estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition+). Podaci su prikupljeni pomoću upitnika. Međutim, kako su isprva podaci bili nebalansirani, jos podataka je sintetički generisano pomoću Weka alata i SMOTE metode. Ciljni atribut je određen pomoću <i>height</i> i <i>weight</i> atributa. Najpre se izračuna BMI po formuli <b>weight/(height * height)</b> da bi se na osnovu te vrednosti odredio stepen gojaznosti.

### Atributi i njihovo značenje:

<table>
    <thead>
        <tr><th>Ime atributa</th><th>Opis atributa</th><th>Tip atributa</th></tr>
    </thead>
    <tbody>
        <tr><td>NObesity</td><td>Određen na osnovu BMI-a</td><td>Kategorički</td></tr>
        <tr><td>FAVC</td><td>Konzumacija visoko kalorične hrane</td><td>Kategorički</td></tr>
        <tr><td>FCVC</td><td>Konzumacija voća i povrća</td><td>Ordinalni</td></tr>
        <tr><td>NCP</td><td>Broj glavnih obroka u toku dana</td><td>Ordinalni</td></tr>
        <tr><td>CAEC</td><td>Konzumacija hrane između glavnih obroka</td><td>Ordinalni</td></tr>
        <tr><td>CH20</td><td>Dnevni unos vode</td><td>Ordinalni</td></tr>
        <tr><td>CALC</td><td>Konzumacija alkohola</td><td>Ordinalni</td></tr>
        <tr><td>SCC</td><td>Praćenje količine unosa kalorija</td><td>Kategorički</td></tr>
        <tr><td>FAF</td><td>Fizička aktivnost</td><td>Ordinalni</td></tr>
        <tr><td>TUE</td><td>Vreme provedeno koristeći elektronske uređaje</td><td>Ordinalni</td></tr>
        <tr><td>MTRANS</td><td>Vid transporta kojim se ispitanik služi</td><td>Kategorički</td></tr>
        <tr><td>SMOKE</td><td>Da li ispitanik puši ili ne</td><td>Kategorički</td></tr>
        <tr><td>family_history_with_overweight</td><td>Porodična istorija gojaznosti</td><td>Kategorički</td></tr>
        <tr><td>Gender</td><td>Pol</td><td>Kategorički</td></tr>
        <tr><td>Age</td><td>Godine</td><td>Numerički</td></tr>
        <tr><td>Height</td><td>Visina u metrima</td><td>Numerički</td></tr>
        <tr><td>Weight</td><td>Težina u kilogramima</td><td>Numerički</td></tr>
    </tbody>
</table>

## Analiza podataka

In [58]:
import pandas as pd

In [59]:
# Učitavanje skupa podataka iz csv fajla
dataset = pd.read_csv('obesity_level_dataset.csv')

In [60]:
dataset.head(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [61]:
dataset.tail(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [62]:
dataset.describe(include='all')

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
count,2111,2111.000000,2111.000000,2111.000000,2111,2111,2111.000000,2111.000000,2111,2111,2111.000000,2111,2111.000000,2111.000000,2111,2111,2111
unique,2,NaN,NaN,NaN,2,2,NaN,NaN,4,2,NaN,2,NaN,NaN,3,5,7
top,Male,NaN,NaN,NaN,yes,yes,NaN,NaN,Sometimes,no,NaN,no,NaN,NaN,Sometimes,Public_Transportation,Obesity_Type_I
freq,1068,NaN,NaN,NaN,1726,1866,NaN,NaN,1765,2067,NaN,2015,NaN,NaN,1401,1580,351
mean,NaN,24.312600,1.701677,86.586058,NaN,NaN,2.419043,2.685628,NaN,NaN,2.008011,NaN,1.010298,0.657866,NaN,NaN,NaN
std,NaN,6.345968,0.093305,26.191172,NaN,NaN,0.533927,0.778039,NaN,NaN,0.612953,NaN,0.850592,0.608927,NaN,NaN,NaN
min,NaN,14.000000,1.450000,39.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,1.000000,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,NaN,19.947192,1.630000,65.473343,NaN,NaN,2.000000,2.658738,NaN,NaN,1.584812,NaN,0.124505,0.000000,NaN,NaN,NaN
50%,NaN,22.777890,1.700499,83.000000,NaN,NaN,2.385502,3.000000,NaN,NaN,2.000000,NaN,1.000000,0.625350,NaN,NaN,NaN
75%,NaN,26.000000,1.768464,107.430682,NaN,NaN,3.000000,3.000000,NaN,NaN,2.477420,NaN,1.666678,1.000000,NaN,NaN,NaN
max,NaN,61.000000,1.980000,173.000000,NaN,NaN,3.000000,4.000000,NaN,NaN,3.000000,NaN,3.000000,2.000000,NaN,NaN,NaN

In [63]:
# Provera da li postoje null vrednosti
dataset[dataset.isnull().any(axis=1)]

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history_with_overweight, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, NObeyesdad]
Index: []

## Priprema podataka i dalja analiza

- Potrebno je zanemariti <b>Height</b> i <b>Weight</b> atribute jer su direktno povezani sa ciljnom klasom
- Kategoricke atribute koji su tekstualnog tipa je potrebno konvertovati u <i>category</i> tip i enkodirati ih one-hot metodom
- Ordinalne atribute koji imaju decimale je potrebno pretvoriti u cele brojeve, jer je to rezultat generisanja sintetičkih podataka

In [64]:
dataset = dataset.drop(columns = ['Height', 'Weight'])
print(dataset.shape)

(2111, 15)

In [65]:
textual_columns = ["Gender", "family_history_with_overweight", "FAVC", "CAEC", "SMOKE", "SCC", "CALC", "MTRANS", 
                   "NObeyesdad"]
for col in textual_columns:
    dataset[col] = dataset[col].astype('category')

In [66]:
numerical_columns = ["FCVC", "NCP", "CH2O", "FAF", "TUE"]
for col in numerical_columns:
    dataset[col] = round(dataset[col]).astype('int')

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   category
 1   Age                             2111 non-null   float64
 2   family_history_with_overweight  2111 non-null   category
 3   FAVC                            2111 non-null   category
 4   FCVC                            2111 non-null   int32
 5   NCP                             2111 non-null   int32
 6   CAEC                            2111 non-null   category
 7   SMOKE                           2111 non-null   category
 8   CH2O                            2111 non-null   int32
 9   SCC                             2111 non-null   category
 10  FAF                             2111 non-null   int32
 11  TUE                             2111 non-null   int32
 12  CALC                            2111 non-null   category
 13  MTRANS                          2111 non-null   category
 14  NObeyesdad                      2111 non-null   category
dtypes: category(9), float64(1), int32(5)
memory usage: 77.9 KB

## Klasifikacija (bez redukcije dimenzionalnosti)

Prvo multiklasna, zatim binarna

## Klasifikacija sa redukcijom dimenzionalnosti

## Regresija

Ovde cemo da generisemo numericki atribut, BMI i onda cemo pokusati da predvidimo vrednost tog atributa pomocu linearne regresije

## Zaključak

Ovde cemo da uporedimo rezultate i da kazemo sta je najbolje ispalo